
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# files dirs
.env
bloglist-frontend/coverage/
testirepolainen/
tests/example.spec.js


