# Replace the empty values witn current allowed length strings,
# no other restrictions. Copy to .env file in this directory 

# The limits are from env vars. See e2e/utils/config.js for default
# values if .env is not used, and corresponding env vars not given.

# length USERNAME_MIN..USERNAME_MAX, e.g. 
# USERNAME_DEFAULT='mie'
USERNAME_DEFAULT=null

# length PASSWORD_MIN..PASSWORD_MAX
PASSWORD_DEFAULT=null

# length also USERNAME_MIN..USERNAME_MAX
USER_NAME_DEFAULT=null
